<h2>Create A New Song</h2>

<form action="/songs" method="POST">
  <label for="song_name">Name</label>
  <input id="Name" type="text" name="song[name]"/>
  <br>
  <label for="artist_name"> Artist Name</label>
  <input id="artist_name" type="text" name="artist[name]"/>
  <br>
  Genre
  <% @genres.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <%=genre.name%>
  <% end %>
  <br>
 <input type="submit" value="Create"/>
</form>